.artist-banner {
  background: no-repeat url("../images/Morten%20Harket.png");
  width: 100%;
  height: 550px;
  flex: 0 1 1920px;
  box-sizing: border-box;
}

.position-absolute {
  position: absolute;

  &.top-0 {
    top: 0;
  }

  &.left-0 {
    left: 0;
  }
}

.position-relative {
  position: relative;
  
  &.position-triangle-mix {
    top: -2px;
    right: -2px;
  }

  &.position-circle-mix {
    left: -20px;
  }
}

.mix {
  width: 200px;
  height: 50px;
  background: $footer-bg-first;
  box-sizing: border-box;
  border-radius: 3px;
}

.to-favorites { 
  width: 200px;
  height: 50px;
  background: $footer-bg-second;
  box-sizing: border-box;
  border-radius: 3px;
}

.triangle:before {
  content: ' \25b7';
  width: 30px;
}

.circle:before {
  content: ' \25ef';
}

.heart:before {
  content: ' \2661';
}
