.artist-banner {
  background: no-repeat url("../images/Morten%20Harket.png");
  width: 100%;
  box-sizing: border-box;
  padding-top: 225px;
  padding-bottom: 82px;
}
  
.position-triangle-btn {
  position: relative;
  top: -2px;
  right: -2px;
}

.position-circle-btn {
  position: relative;
  left: -20px;
}

.btn {
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.btn-bg-first {
  background: $footer-bg-first;
}

.btn-bg-second { 
  background: $footer-bg-second;
}

.triangle:before {
  content: ' \25b7';
  color: #ffffff;
}

.circle:before {
  content: ' \25ef';
  color: #ffffff;
}

.heart:before {
  content: ' \2661';
  color: #ffffff;
}
