.container-track {
  width: 27.71%;
  height: 50px;
  max-width: 532px;
  min-width: 385px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 68px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.position-triangle {
  position: relative;  
  top: -124.25px;
  right: -18.75px;
}

.position-circle {
  position: relative; 
  top: -98.25px;
  right: -11.25px;
}

.disc {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  color: #ffffff;
}

.artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  color: #ffffff;
}
