.footer {
  background: linear-gradient(89.02deg, $footer-bg-first 32.83%, $footer-bg-second 81.56%);
  width: 100%;
}

.line-1px {
  border: 1px solid #EEEEEE;
}

.width-menu-1 {
  width: 1020px;
}

.width-social-network {
  width: 170px;
}

.width-menu-2 {
  width: 534px;
}
