.footer {
  background: linear-gradient(89.02deg, $footer-bg-first 32.83%, $footer-bg-second 81.56%);
  width: 100%;
}

.line-1px {
  border: 1px solid $line-1px-color;
  margin-top: 100px;
}

.menu-1 {
  width: 1020px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-network {
  width: 170px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.menu-2 {
  width: 534px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}
