.search-box {
  display: flex;
  align-items: center;
  width: 278px;
  height: 30px;
  background: #3c3b3d;
  padding-left: 70px;
  padding-right: 10px;
  border-radius: 50px;
  box-sizing: border-box;
  border: none;
  color: #ffffff;
}

.position-search {
  position: relative;
  left: 60px;
}

.width-1200 {
  width: 1200px;
}

.menu {
  width: 1005px;
  display: flex;
  justify-content: space-between;

  a {
    color: #808080;
  }
}

.header {
  position: absolute;
  top: 25px;
  right: 0; 
  left: 0;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #808080;
  flex-wrap: wrap;
}
