.search-box {
  display: flex;
  align-items: center;
  width: 278px;
  height: 30px;
  background: $btn-search-bg;
  padding-left: 70px;
  padding-right: 10px;
  border-radius: 50px;
  box-sizing: border-box;
  border: none;
  color: $primary-text-color;
}

.position-search {
  position: relative;
  left: 390px;
}

.menu {
  width: 1005px;
  display: flex;
  justify-content: space-between;

  a {
    color: $header-text-color;
  }
}

.header {
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: $header-text-color;
  flex-wrap: wrap;
}

.header-absolute {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
}
