.search-box {
  width: 278px;
  height: 30px;
  background: rgba(60, 59, 61, 1);
  border: 1px solid;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50px;
  box-sizing: border-box;
}

.width-1200 {
  width: 62.5%;
}

.width-1005 {
  width: 83.77%;
}
