.card {
  display: flex;
  flex-direction: column;
  color: $primary-text-color;
  text-align: center;
  min-width: 0;
  padding: 25px 20px 60px 20px;
  box-sizing: border-box;
  max-width: 350px;
}

.col {
  flex: 0 0 33.33%;
  max-width: 100.0%;
}

@media(max-width: 1024px) {
  .col-md {
    flex: 0 0 50%;
    max-width: 100%;
  }
}

@media(max-width: 426px) {
  .col-sm {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.subscription-free {
  background: no-repeat url("../images/subscribe_1.png");
}

.subscription-standart {
  background: no-repeat url("../images/subscribe_2.png");
}

.subscription-premium {
  background: no-repeat url("../images/subscribe_3.png");
}

.background-color-main {
  width: 100%;
  background-color: $main-bg;
}

.button-to-issue {
  width: 300px;
  height: 60px;
  background: rgba(255, 255, 255, 0);
  border: 4px solid $primary-text-color;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-text-color;
  margin-right: auto;
  margin-left: auto;
}

.line-1 {
  width: 11px;
  height: 0;
  border: 1px solid $line-color;
  transform: rotate(90deg);
}

.button-to-album {
  width: 130px;
  height: 40px;
  border: 1px solid $border-color;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0);
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  line-height: 28px;
  text-transform: uppercase;
}

.button-app {
  width: 174px;
  height: 50px;
  box-sizing: border-box;
  background: $btn-app-bg;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
}
