.banner {
  display: flex;
  flex-direction: column;
  background: no-repeat url("../images/banner.png");
  width: 100%;
  flex: 0 1 1920px;
  box-sizing: border-box;
  color: $primary-text-color;
  padding-top: 217px;
  padding-bottom: 238px;
}

.position-имя {
  position: relative;
  top: -113px;
  left: -240px;
}

.position-email {
  position: relative;
  top: -113px;
  right: -32px;
}

.input {
  width: 270px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 3px;
}

.button {
  width: 570px;
  height: 50px;
  background: $btn-get-access-bg;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
