@media(max-width: 1279px) {
  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
  }

  .order-1 {
    display: flex;
    order: 1;
  }

  .order-2 {
    display: flex;
    order: 2;
  }

  .flex-direction-column-lg {
    display: flex;
    flex-direction: column;
  }
  
  .font-size-60px {
    font-size: $font-size-60 * 2 / 3;
    line-height: $line-height-70 * 2 / 3;
  }

  h2 {
    font-size: $font-size-38 * 2 / 3;
    line-height: $line-height-45 * 2 / 3;
  }

  .font-size-30px {
    font-size: 30px * 2 / 3;
    line-height: 35px * 2 / 3;
  }

  .font-size-22px {
    font-size: 22px * 2 / 3;
    line-height: 26px * 2 / 3;
  }

  .font-size-18px {
    font-size: 18px * 2 / 3;
    line-height: 21px * 2 / 3;
  }

  .mt-20-lg {
    margin-top: 20px;
  }

  .ml-68 {
    margin-left: 0;
  }

  .ml-20-lg {
    margin-left: 20px;
  }

  .px-20-lg {
    padding-left: 20px;
    padding-right: 20px;
  }

  .vertical-align-20 {
    vertical-align: 14px;
  }

  .container {
    width: 1024px; 
  }

  .menu-1 {
    width: 984px;
  }

  .banner {
    background: no-repeat top 0 left -300px url("../images/banner.png");
    padding-bottom: 99px;
  }

  .artist-banner {
    background: no-repeat top 0 left -597px url("../images/Morten%20Harket.png");
  }

  .artist-image {
    width: 231px;
    height: 231px;
  }

  .disc {
    margin-right: 20px;
  }

  .artist {
    margin-right: 20px;
  }

  .subscription-premium {
    margin-top: 20px;
  }

  .position-search {
    left: 370px;
  }
}
