@media(max-width: 1280px) {
  .artist-banner {
    background: no-repeat top 0 left -447px url("../images/Morten%20Harket.png");
  }

  .banner {
    background: no-repeat top 0 left -150px url("../images/banner.png");
  }

  .artist-image {
    width: 260px;
    height: 260px;
  }
}
