@media(max-width: 768px) {
  .flex {
    display: flex;

    &.flex-wrap {
      flex-wrap: wrap;
      width: 768px;
    }

    &.order-1-768 {
      order: 1;
    }

    &.order-2-768 {
      order: 2;
    }

    &.flex-direction-column-768 {
      flex-direction: column;
    }
  }

  .mt-30-768 {
    margin-top: 30px;
  }

  .ml-0-768 {
    margin-left: 0;
  }

  .width-social-network {
    width: 120px;
  }
}
