@media(max-width: 768px) {
  .flex {
    display: flex;

    &.flex-wrap {
      flex-wrap: wrap;
      width: 768px;
    }

    &.order-1-768 {
      order: 1;
    }

    &.order-2-768 {
      order: 2;
    }

    &.flex-direction-column-768 {
      flex-direction: column;
    }
  }

  .mt-100-768 {
    margin-top: 100px;
  }
  
  .mt-30-768 {
    margin-top: 20px;
  }

  .mt-25-768 {
    margin-top: 25px;
  }

  .mr-50 {
    margin-right: 20px;
  }

  .ml-113 {
    margin-left: 0;
  }

  .width-1200 {
    width: 728px;
  }

  .width-social-network {
    width: 120px;
  }

  .artist-banner {
    background: no-repeat top 0 left -947px url("../images/Morten%20Harket.png");
  }

  .artist-image {
    width: 167px;
    height: 167px;
  }
}
