@media (max-width: 424px) {
  .mt-55 {
    margin-top: 0;
  }

  .mr-12-sm {
    margin-right: 12px;
  }

  .mb--22-sm {
    margin-bottom: 0;
  }

  .ml-77-sm {
    margin-left: 52px;
  }

  .ml-20-sm {
    margin-left: 20px;
  }

  .vertical-align-20 {
    vertical-align: 8px;
  }

  .flex-direction-column-sm {
    display: flex;
    flex-direction: column;
  }

  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 375px;
  }

  .justify-content-around-lg {
    display: flex;
    justify-content: flex-start;
  }

  .max-width {
    max-width: 335px;
  }

  .container {
    width: 375px;
  }

  .menu {
    width: 335px;
  }

  .menu-1 {
    width: 375px;
  }

  .container-track {
    width: 27.71%;
    height: 50px;
    min-width: 335px;
    flex-shrink: 1;
  }
  
  .artist-image {
    width: 157.5px;
    height: 157.5px;
  }

  .subscription-free, .subscription-standart, .subscription-premium {
    margin-right: 10px;
    margin-left: 10px;
  }

  .button-app {
    width: 335px;
  }

  .top--128-sm {
    top: -104px;
  }

  section {
    .font-size-16px {
      font-size: 16px * 0.75;
      line-height: 19px * 0.75;
    }

    .font-size-20px {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
