@media (max-width: 426px) {
  .font-size-60px {
    font-size: $font-size-60 / 2;
    line-height: $line-height-70 / 2;
  }

  .font-size-38px {
    font-size: 20px;
    line-height: 23px;
  }

  .font-size-30px {
    font-size: 18px;
    line-height: 21px;
  }

  .font-size-22px {
    font-size: 12px;
    line-height: 14px;
  }

  .font-size-18px {
    font-size: 12px;
    line-height: 14px;
  }

  .mt-30-425 {
    margin-top: 30px;
  }

  .mt-20-425 {
    margin-top: 20px;
  }

  .ml-77-425 {
    margin-left: 77px;
  }

  .ml-211 {
    margin-left: 0px;
  }

  .ml-20-425 {
    margin-left: 20px;
  }

  .my-50 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .width-1200 {
    width: 425px;
  }

  .width-1005 {
    width: 385px;
  }

  .width-menu-2 {
    width: 200px;
  }

  .vertical-align-20 {
    vertical-align: 8px;
  }

  .flex-direction-column-425 {
    display: flex;
    flex-direction: column;
  }

  .position-relative {
    position: relative;

    &.position-имя {
      top: -194px;
      left: -90px;
    }

    &.position-email {
      top: -113px;
      right: 122px;
    }
  }

  .flex {
    display: flex;

    &.flex-wrap {
      flex-wrap: wrap;
      width: 425px;
    }

    &.order-1 {
      order: 1;
    }

    &.order-2 {
      order: 2;
    }

    &.flex-grow-max-570-284 {
      max-width: 385px;
      flex-grow: 0;
    }
  }

  .artist-banner {
    background: no-repeat top 0 left -1097px url("../images/Morten%20Harket.png");
    width: 100%;
    height: 550px;
    box-sizing: border-box;
  }

  .artist-image {
    width: 182.5px;
    height: 182.5px;
  }

  .mix {
    min-width: 280px;
    height: 50px;
    background: $footer-bg-first;
    box-sizing: border-box;
    border-radius: 3px;
    flex-shrink: 1;
  }

  .to-favorites {
    min-width: 280px;
    height: 50px;
    background: $footer-bg-second;
    box-sizing: border-box;
    border-radius: 3px;
    flex-shrink: 1;
  }
}
