.container {
  width: 1200px;
  margin: 0 auto;
}

.width-30 {
  width: 30px;
}

.m-0 {
  margin: 0;
}

.m-0-auto {
  margin: 0 auto;
}

.mt-auto {
  margin-top: auto;
}

.mt-225 {
  margin-top: 225px;
}

.mt-223 {
  margin-top: 223px;
}

.mt-217 {
  margin-top: 217px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-50, .mt-50-lg {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-68 {
  margin-right: 68px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-322 {
  margin-left: 26.83%;
}

.ml-211 {
  margin-left: 10.99%;
}

.ml-113 {
  margin-left: 113px;
}

.ml-68 {
  margin-left: 3.54%;
}

.ml-50 {
  margin-left: 2.6%
}

.ml-36 {
  margin-left: 36px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 4px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-17 {
  padding-top: 17px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-9 {
  padding-top: 9px;
}

.pt-6 {
  padding-top: 6px;
}

.pr-12 {
  padding-right: 12px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-5 {
  padding-left: 5px;
}

.px-20 {
 padding-right: 20px;
 padding-left: 20px;
}

.filter-invert-100 {
  filter: invert(100%);
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-60px {
  font-size: $font-size-60;
}

.font-size-38px {
  font-size: 38px;
}

.font-size-30px {
  font-size: 30px;
}

.font-size-24px {
  font-size: 24px;
}

.font-size-22px {
  font-size: 22px;
}

.font-size-20px {
  font-size: 20px;
}

.font-size-18px {
  font-size: 18px;
}

.font-size-18px-f {
  font-size: 18px;
}

.font-size-16px {
  font-size: 16px;
}

.font-size-14px {
  font-size: 14px;
}

.font-size-12px {
  font-size: 12px;
}

.font-size-11px {
  font-size: 11px;
}

.line-height-28px {
  line-height: 28px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

.vertical-align-20 {
  vertical-align: 20px;
}

.vertical-align-5 {
  vertical-align: 5px;
}

.flex {
  display: flex;

  &.justify-content-between {
    justify-content: space-between;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.flex-direction-column {
    flex-direction: column;
  }

  &.align-items-center {
    align-items: center;
  }

  &.flex-center {
    justify-content: center;
    align-items: center;
  }
}
