$main-bg: #08020d;
$footer-bg-first: #5328a1;
$footer-bg-second: #95390C;
$main-ml: 18.75%;
$font-size-60: 60px;
$line-height-70: 70px;

.text-white {
  color: #FFFFFF;
}

.text-silver {
  color: #CACACA;
}

.text-gray {
  color: #808080;
}

.text-8c8c8c {
  color: #8c8c8c;
}

.text-555555 {
 color: #555555;
}

.color-f89202 {
  color: #F89202;
}

.font-family-roboto {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;
}

h2, h3 {
  text-align: center;
}

a {
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

footer a {
  color: #CACACA;
}
