@charset "UTF-8";
.text-white {
  color: #fff;
}

.text-silver {
  color: #cacaca;
}

.text-gray {
  color: #808080;
}

.text-8c8c8c {
  color: #8c8c8c;
}

.text-555555 {
  color: #555;
}

.color-f89202 {
  color: #f89202;
}

.font-family-roboto {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
}

h3 {
  text-align: center;
}

h2 {
  font-size: 38px;
  line-height: 45px;
  padding-top: 0;
  margin-top: 100px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

footer a {
  color: #cacaca;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}

.m-0-auto {
  margin: 0 auto;
}

.mt-auto {
  margin-top: auto;
}

.mt-223 {
  margin-top: 223px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-50, .mt-50-lg {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-211 {
  margin-left: 10.99%;
}

.ml-68 {
  margin-left: 3.54%;
}

.ml-36 {
  margin-left: 36px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 4px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.pt-10 {
  padding-top: 10px;
}

.pt-9 {
  padding-top: 9px;
}

.pt-6 {
  padding-top: 6px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-5 {
  padding-left: 5px;
}

.filter-invert-100 {
  filter: invert(100%);
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-60px {
  font-size: 60px;
}

.font-size-38px {
  font-size: 38px;
}

.font-size-30px {
  font-size: 30px;
}

.font-size-24px {
  font-size: 24px;
}

.font-size-22px {
  font-size: 22px;
}

.font-size-20px {
  font-size: 20px;
}

.font-size-18px {
  font-size: 18px;
}

.font-size-18px-f {
  font-size: 18px;
}

.font-size-16px {
  font-size: 16px;
}

.font-size-14px {
  font-size: 14px;
}

.font-size-12px {
  font-size: 12px;
}

.font-size-11px {
  font-size: 11px;
}

.line-height-28px {
  line-height: 28px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

.vertical-align-20 {
  vertical-align: 20px;
}

.vertical-align-5 {
  vertical-align: 5px;
}

.flex {
  display: flex;
}
.flex.justify-content-between {
  justify-content: space-between;
}
.flex.justify-content-center {
  justify-content: center;
}
.flex.flex-direction-column {
  flex-direction: column;
}
.flex.align-items-center {
  align-items: center;
}
.flex.flex-center {
  justify-content: center;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  width: 278px;
  height: 30px;
  background: #3c3b3d;
  padding-left: 70px;
  padding-right: 10px;
  border-radius: 50px;
  box-sizing: border-box;
  border: none;
  color: #fff;
}

.position-search {
  position: relative;
  left: 390px;
}

.menu {
  width: 1005px;
  display: flex;
  justify-content: space-between;
}
.menu a {
  color: #808080;
}

.header {
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #808080;
  flex-wrap: wrap;
}

.header-absolute {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
}

.banner {
  display: flex;
  flex-direction: column;
  background: no-repeat url("../images/banner.png");
  width: 100%;
  flex: 0 1 1920px;
  box-sizing: border-box;
  color: #fff;
  padding-top: 217px;
  padding-bottom: 238px;
}

.position-имя {
  position: relative;
  top: -113px;
  left: -240px;
}

.position-email {
  position: relative;
  top: -113px;
  right: -32px;
}

.input {
  width: 270px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 3px;
}

.button {
  width: 570px;
  height: 50px;
  background: #34c176;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  min-width: 0;
  padding: 25px 20px 60px 20px;
  box-sizing: border-box;
  max-width: 350px;
}

.col {
  flex: 0 0 33.33%;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .col-md {
    flex: 0 0 50%;
    max-width: 100%;
  }
}
@media (max-width: 426px) {
  .col-sm {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.subscription-free {
  background: no-repeat url("../images/subscribe_1.png");
}

.subscription-standart {
  background: no-repeat url("../images/subscribe_2.png");
}

.subscription-premium {
  background: no-repeat url("../images/subscribe_3.png");
}

.background-color-main {
  width: 100%;
  background-color: #08020d;
}

.button-to-issue {
  width: 300px;
  height: 60px;
  background: rgba(255, 255, 255, 0);
  border: 4px solid #fff;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
}

.line-1 {
  width: 11px;
  height: 0;
  border: 1px solid #b8b8b8;
  transform: rotate(90deg);
}

.button-to-album {
  width: 130px;
  height: 40px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0);
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  line-height: 28px;
  text-transform: uppercase;
}

.button-app {
  width: 174px;
  height: 50px;
  box-sizing: border-box;
  background: #ff4157;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
}

.footer {
  background: linear-gradient(89.02deg, #5328a1 32.83%, #95390C 81.56%);
  width: 100%;
}

.line-1px {
  border: 1px solid #eee;
  margin-top: 100px;
}

.menu-1 {
  width: 1020px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-network {
  width: 170px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.menu-2 {
  width: 534px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.artist-banner {
  background: no-repeat url("../images/Morten%20Harket.png");
  width: 100%;
  box-sizing: border-box;
  padding-top: 225px;
  padding-bottom: 82px;
}

.btn {
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-left: 15px;
}

.btn-bg-first {
  background: #5328a1;
}

.btn-bg-second {
  background: #95390C;
}

.container-track {
  width: 27.71%;
  height: 50px;
  max-width: 532px;
  min-width: 385px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 68px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.position-play-btn {
  position: relative;
  top: -104px;
  right: -15px;
}

.disc {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  color: #fff;
}

.artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  color: #fff;
}

@media (max-width: 1280px) {
  .artist-banner {
    background: no-repeat top 0 left -447px url("../images/Morten%20Harket.png");
  }

  .banner {
    background: no-repeat top 0 left -150px url("../images/banner.png");
  }

  .artist-image {
    width: 260px;
    height: 260px;
  }
}
@media (max-width: 1279px) {
  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
  }

  .order-1 {
    display: flex;
    order: 1;
  }

  .order-2 {
    display: flex;
    order: 2;
  }

  .flex-direction-column-lg {
    display: flex;
    flex-direction: column;
  }

  .font-size-60px {
    font-size: 40px;
    line-height: 46.6666666667px;
  }

  h2 {
    font-size: 25.3333333333px;
    line-height: 30px;
  }

  .font-size-30px {
    font-size: 20px;
    line-height: 23.3333333333px;
  }

  .font-size-22px {
    font-size: 14.6666666667px;
    line-height: 17.3333333333px;
  }

  .font-size-18px {
    font-size: 12px;
    line-height: 14px;
  }

  .mt-20-lg {
    margin-top: 20px;
  }

  .ml-68 {
    margin-left: 0;
  }

  .ml-20-lg {
    margin-left: 20px;
  }

  .px-20-lg {
    padding-left: 20px;
    padding-right: 20px;
  }

  .vertical-align-20 {
    vertical-align: 14px;
  }

  .container {
    width: 1024px;
  }

  .menu-1 {
    width: 984px;
  }

  .banner {
    background: no-repeat top 0 left -300px url("../images/banner.png");
    padding-bottom: 99px;
  }

  .artist-banner {
    background: no-repeat top 0 left -597px url("../images/Morten%20Harket.png");
  }

  .artist-image {
    width: 231px;
    height: 231px;
  }

  .disc {
    margin-right: 20px;
  }

  .artist {
    margin-right: 20px;
  }

  .subscription-premium {
    margin-top: 20px;
  }

  .position-search {
    left: 370px;
  }
}
@media (max-width: 1023px) {
  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }

  .order-1-md {
    display: flex;
    order: 1;
  }

  .order-2-md {
    display: flex;
    order: 2;
  }

  .flex-direction-column-md {
    display: flex;
    flex-direction: column;
  }

  .mt-20-md {
    margin-top: 20px;
  }

  .mt-20-lg {
    margin-top: 0;
  }

  .mt-25-md {
    margin-top: 25px;
  }

  .ml-20-md {
    margin-left: 20px;
  }

  .ml-113 {
    margin-left: 0;
  }

  .container {
    width: 768px;
  }

  .menu {
    width: 728px;
  }

  .menu-1 {
    width: 748px;
  }

  .social-network {
    width: 120px;
  }

  .banner {
    background: no-repeat top 0 left -550px url("../images/banner.png");
  }

  .artist-banner {
    background: no-repeat top 0 left -847px url("../images/Morten%20Harket.png");
  }

  .artist-image {
    width: 167px;
    height: 167px;
  }

  .disc {
    margin-right: 20px;
  }

  .artist {
    margin-right: 20px;
  }

  .position-search {
    left: -335px;
    bottom: 35px;
  }
}
@media (max-width: 767px) {
  .font-size-60px {
    font-size: 30px;
    line-height: 35px;
  }

  h2 {
    font-size: 20px;
    line-height: 23px;
  }

  .font-size-30px {
    font-size: 18px;
    line-height: 21px;
  }

  .font-size-22px {
    font-size: 12px;
    line-height: 14px;
  }

  .font-size-18px {
    font-size: 12px;
    line-height: 14px;
  }

  .mt-100-sm {
    margin-top: 100px;
  }

  .mt-70-sm {
    margin-top: 70px;
  }

  .mt-30-sm {
    margin-top: 30px;
  }

  .mt-20-sm {
    margin-top: 20px;
  }

  .mt-50-lg {
    margin-top: 0;
  }

  .ml-77-sm {
    margin-left: 77px;
  }

  .ml-20-sm {
    margin-left: 20px;
  }

  .ml-36 {
    margin-left: 0;
  }

  .mx-20-sm {
    margin-right: 20px;
    margin-left: 20px;
  }

  .container {
    width: 425px;
  }

  .menu {
    width: 385px;
  }

  .menu-1 {
    width: 425px;
  }

  .menu-2 {
    width: 200px;
  }

  .vertical-align-20 {
    vertical-align: 8px;
  }

  .flex-direction-column-sm {
    display: flex;
    flex-direction: column;
  }

  .position-имя {
    position: relative;
    top: -194px;
    left: -90px;
  }

  .position-email {
    position: relative;
    top: -113px;
    right: 122px;
  }

  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 425px;
  }

  .max-width {
    max-width: 385px;
  }

  .banner {
    background: no-repeat top 0 left -650px url("../images/banner.png");
  }

  .artist-banner {
    background: no-repeat top 0 left -1097px url("../images/Morten%20Harket.png");
  }

  .artist-image {
    width: 182.5px;
    height: 182.5px;
  }

  .subscription-standart {
    margin-top: 20px;
  }

  .position-search {
    left: 10px;
    bottom: 190px;
    width: 50px;
  }

  .top--128-sm {
    top: -128px;
  }
}
@media (max-width: 424px) {
  .mb--22-sm {
    margin-bottom: 0;
  }

  .ml-77-sm {
    margin-left: 52px;
  }

  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 375px;
  }

  .max-width {
    max-width: 335px;
  }

  .container {
    width: 375px;
  }

  .menu {
    width: 335px;
  }

  .menu-1 {
    width: 375px;
  }

  .container-track {
    width: 27.71%;
    height: 50px;
    min-width: 335px;
    flex-shrink: 1;
  }

  .artist-image {
    width: 157.5px;
    height: 157.5px;
  }

  .subscription-free, .subscription-standart, .subscription-premium {
    margin-right: 10px;
    margin-left: 10px;
  }

  .button-app {
    width: 335px;
  }

  .top--128-sm {
    top: -104px;
  }

  section .font-size-16px {
    font-size: 12px;
    line-height: 14.25px;
  }
  section .font-size-20px {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 374px) {
  .flex-wrap {
    display: flex;
    width: 320px;
    flex-wrap: wrap;
  }

  .container {
    width: 320px;
  }

  .menu {
    width: 280px;
  }

  .menu-1 {
    width: 320px;
  }

  .max-width {
    max-width: 280px;
  }

  .mr-30 {
    margin-right: 0;
  }

  .mb--22-sm {
    margin-bottom: -17px;
  }

  .ml-77-sm {
    margin-left: 20px;
  }

  .artist-image {
    width: 130px;
    height: 130px;
  }

  section .font-size-16px {
    font-size: 12px;
    line-height: 14.25px;
  }
  section .font-size-20px {
    font-size: 16px;
    line-height: 19px;
  }

  .artist-banner {
    background-image: no-repeat top 0/115% bottom 630px/115% left -1200px url("../images/Morten%20Harket.png");
  }

  .container-track {
    width: 27.71%;
    height: 50px;
    max-width: 532px;
    min-width: 280px;
    flex-shrink: 1;
  }

  .button-to-issue {
    width: 260px;
    height: 60px;
    background: rgba(255, 255, 255, 0);
    border: 4px solid #fff;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .button-app {
    width: 280px;
  }
}

/*# sourceMappingURL=style.css.map */
