@charset "UTF-8";
.text-white {
  color: #FFFFFF;
}

.text-silver {
  color: #CACACA;
}

.text-gray {
  color: #808080;
}

.text-8c8c8c {
  color: #8c8c8c;
}

.text-555555 {
  color: #555555;
}

.color-music-box {
  color: #F89202;
}

.font-family-roboto {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

.m-0 {
  margin: 0;
}

.m-0-auto {
  margin: 0 auto;
}

.mt-877 {
  margin-top: 877px;
}

.mt-550 {
  margin-top: 550px;
}

.mt-223 {
  margin-top: 38.32%;
}

.mt-100 {
  margin-top: 100px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-68 {
  margin-right: 68px;
}

.mr-50 {
  margin-right: 37.5px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-12 {
  margin-right: 12px;
}

.mr--100 {
  margin-right: -100px;
}

.mb--25 {
  margin-bottom: -25px;
}

.ml-360 {
  margin-left: 18.75%;
}

.ml-322 {
  margin-left: 16.77%;
}

.ml-211 {
  margin-left: 10.99%;
}

.ml-113 {
  margin-left: 5.89%;
}

.ml-68 {
  margin-left: 3.54%;
}

.ml-50 {
  margin-left: 2.6%;
}

.ml-30 {
  margin-left: 30px;
}

.ml-21 {
  margin-left: 21px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-4 {
  margin-left: 4px;
}

.ml--37 {
  margin-left: -37px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-17 {
  padding-top: 17px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-9 {
  padding-top: 9px;
}

.pt-6 {
  padding-top: 6px;
}

.pr-12 {
  padding-right: 12px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-5 {
  padding-left: 5px;
}

.px-3 {
  padding-right: 3px;
  padding-left: 3px;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-60px {
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
}

.font-size-38px {
  font-size: 38px;
  line-height: 45px;
}

.font-size-30px {
  font-size: 30px;
  line-height: 35px;
}

.font-size-24px {
  font-size: 24px;
  line-height: 28px;
}

.font-size-22px {
  font-size: 22px;
  line-height: 26px;
}

.font-size-20px {
  font-size: 20px;
  line-height: 23px;
}

.font-size-18px {
  font-size: 18px;
  line-height: 21px;
}

.font-size-18px-f {
  font-size: 18px;
  line-height: 21px;
}

.font-size-16px {
  font-size: 16px;
  line-height: 19px;
}

.font-size-14px {
  font-size: 14px;
  line-height: 16px;
}

.font-size-14px-lh-28 {
  font-size: 14px;
  line-height: 28px;
}

.font-size-12px {
  font-size: 12px;
  line-height: 14px;
}

.font-size-12px-lh-28 {
  font-size: 12px;
  line-height: 28px;
}

.font-size-11px {
  font-size: 11px;
}

.text-align-center {
  text-align: center;
}

.vertical-align-20 {
  vertical-align: 20px;
}

.vertical-align-5 {
  vertical-align: 5px;
}

.flex {
  display: flex;
}
.flex.justify-content-between {
  justify-content: space-between;
}
.flex.justify-content-center {
  justify-content: center;
}
.flex.flex-direction-column {
  flex-direction: column;
}
.flex.align-items-center {
  align-items: center;
}
.flex.flex-center {
  justify-content: center;
  align-items: center;
}
.flex.flex-grow-max-570-284 {
  max-width: 570px;
  max-height: 284px;
  flex-grow: 0;
}

.search-box {
  width: 280px;
  height: 30px;
  background: #3c3b3d;
  border: 1px solid;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50px;
  box-sizing: border-box;
}

.width-1208 {
  width: 62.92%;
}

.banner {
  background: no-repeat url("../images/banner.png");
  position: absolute;
  top: 0;
  left: 0;
  margin: auto 0;
  width: 100%;
  height: 877px;
  flex: 0 1 1920px;
  box-sizing: border-box;
}

.position-absolute {
  position: absolute;
}
.position-absolute.top-272 {
  top: 29.01%;
}
.position-absolute.top-493 {
  top: 58.21%;
}

.position-relative {
  position: relative;
}
.position-relative.left--260 {
  left: -260px;
}

.input {
  width: 270px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 3px;
}

.button {
  width: 570px;
  height: 50px;
  background: #34C176;
  border-radius: 3px;
  box-sizing: border-box;
}

.container-subscribe {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.free {
  background: no-repeat url("../images/subscribe_1.png");
  width: 352px;
  height: 582px;
  box-sizing: border-box;
}

.standart {
  background: no-repeat url("../images/subscribe_2.png");
  width: 350px;
  height: 582px;
  box-sizing: border-box;
}

.premium {
  background: no-repeat url("../images/subscribe_3.png");
  width: 350px;
  height: 582px;
  box-sizing: border-box;
}

.background-color-main {
  width: 100%;
  background-color: #08020d;
}

.button-to-issue {
  width: 300px;
  height: 60px;
  background: rgba(255, 255, 255, 0);
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
}

.line-1 {
  width: 11px;
  height: 0;
  border: 1px solid #B8B8B8;
  transform: rotate(90deg);
}

.button-to-album {
  width: 130px;
  height: 40px;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0);
}

.button-app {
  width: 160px;
  height: 50px;
  box-sizing: border-box;
  background: #FF4157;
  border-radius: 50px;
}

.footer {
  background: linear-gradient(89.02deg, #5328a1 32.83%, #95390C 81.56%);
  width: 100%;
}

.line-1px {
  border: 1px solid #EEEEEE;
}

.width-menu-1 {
  width: 1020px;
}

.width-social-network {
  width: 170px;
}

.width-menu-2 {
  width: 534px;
}

.font-size-16p {
  font-size: 16px;
  line-height: 19px;
}

.artist-banner {
  background: no-repeat top 0 left -447px url("../images/Morten%20Harket.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  flex: 0 1 1920px;
  box-sizing: border-box;
}

.position-absolute {
  position: absolute;
}
.position-absolute.top-0 {
  top: 0;
}
.position-absolute.top-280 {
  top: 29.01%;
}
.position-absolute.top-361 {
  top: 33.8%;
}
.position-absolute.top-418 {
  top: 49.35%;
}

.position-relative {
  position: relative;
}
.position-relative.position-triangle-mix {
  top: -2px;
  right: -2px;
}
.position-relative.position-circle-mix {
  left: -20px;
}

.mix {
  width: 200px;
  height: 50px;
  background: #5328a1;
  box-sizing: border-box;
  border-radius: 3px;
}

.to-favorites {
  width: 200px;
  height: 50px;
  background: #95390C;
  box-sizing: border-box;
  border-radius: 3px;
}

.triangle:before {
  content: " ▷";
}

.circle:before {
  content: " ◯";
}

.heart:before {
  content: " ♡";
}

.similar-artists {
  width: 62.5%;
  padding-bottom: 100px;
}

.container-track {
  width: 27.71%;
  height: 50px;
  max-width: 532px;
  min-width: 385px;
  flex-grow: 0;
  flex-shrink: 1;
}

.position-relative {
  position: relative;
}
.position-relative.position-triangle {
  top: -124.25px;
  right: -18.75px;
}
.position-relative.position-circle {
  top: -98.25px;
  right: -11.25px;
}

@media (max-width: 1024px) {
  .flex {
    display: flex;
  }
  .flex.flex-wrap {
    flex-wrap: wrap;
    width: 1024px;
  }
  .flex.order-1 {
    order: 1;
  }
  .flex.order-2 {
    order: 2;
  }
  .flex.justify-content-around-1024 {
    justify-content: space-around;
  }
  .flex.flex-grow-max-320 {
    max-width: 280px;
    flex-grow: 0;
  }

  .font-size-60px {
    font-size: 40px;
    line-height: 46.6666666667px;
  }

  .font-size-38px {
    font-size: 25.3333333333px;
    line-height: 30px;
  }

  .font-size-30px {
    font-size: 20px;
    line-height: 23.3333333333px;
  }

  .font-size-22px {
    font-size: 14.6666666667px;
    line-height: 17.3333333333px;
  }

  .font-size-18px {
    font-size: 12px;
    line-height: 14px;
  }

  .mb--25 {
    margin-bottom: -15px;
  }

  .ml-360 {
    margin-left: 20px;
  }

  .ml-68 {
    margin-left: 0;
  }

  .vertical-align-20 {
    vertical-align: 14px;
  }

  .artist-banner {
    background: no-repeat top 0 left -697px url("../images/Morten%20Harket.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    flex: 0 1 1920px;
    box-sizing: border-box;
  }
}
@media (max-width: 768px) {
  .flex {
    display: flex;
  }
  .flex.flex-wrap {
    flex-wrap: wrap;
    width: 768px;
  }
  .flex.order-1-768 {
    order: 1;
  }
  .flex.order-2-768 {
    order: 2;
  }
  .flex.flex-direction-column-768 {
    flex-direction: column;
  }

  .mt-30-768 {
    margin-top: 20px;
  }

  .mt-25-768 {
    margin-top: 25px;
  }

  .mr-50 {
    margin-right: 20px;
  }

  .ml-0-768 {
    margin-left: 0;
  }

  .width-social-network {
    width: 120px;
  }

  .artist-banner {
    background: no-repeat top 0 left -947px url("../images/Morten%20Harket.png");
  }

  .artist-image {
    width: 167px;
    height: 167px;
  }
}
@media (max-width: 426px) {
  .font-size-60px {
    font-size: 30px;
    line-height: 35px;
  }

  .font-size-38px {
    font-size: 20px;
    line-height: 23px;
  }

  .font-size-30px {
    font-size: 18px;
    line-height: 21px;
  }

  .font-size-22px {
    font-size: 12px;
    line-height: 14px;
  }

  .font-size-18px {
    font-size: 12px;
    line-height: 14px;
  }

  .mt-30-425 {
    margin-top: 30px;
  }

  .mt-20-425 {
    margin-top: 20px;
  }

  .ml-15-425 {
    margin-left: 15px;
  }

  .ml-77-425 {
    margin-left: 77px;
  }

  .ml--37 {
    margin-left: 0;
  }

  .ml-211 {
    margin-left: -25px;
  }

  .ml--875 {
    margin-left: -875px;
  }

  .my-50 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .vertical-align-20 {
    vertical-align: 8px;
  }

  .flex-direction-column-425 {
    display: flex;
    flex-direction: column;
  }

  .flex {
    display: flex;
  }
  .flex.flex-wrap {
    flex-wrap: wrap;
    width: 425px;
  }
  .flex.order-1 {
    order: 1;
  }
  .flex.order-2 {
    order: 2;
  }
  .flex.flex-grow-max-570-284 {
    max-width: 385px;
    flex-grow: 0;
  }

  .artist-banner {
    background: no-repeat top 0 left -1097px url("../images/Morten%20Harket.png");
  }

  .artist-image {
    width: 182.5px;
    height: 182.5px;
  }

  .mix {
    min-width: 280px;
    height: 50px;
    background: #5328a1;
    box-sizing: border-box;
    border-radius: 3px;
    flex-shrink: 1;
  }

  .to-favorites {
    min-width: 280px;
    height: 50px;
    background: #95390C;
    box-sizing: border-box;
    border-radius: 3px;
    flex-shrink: 1;
  }
}
@media (max-width: 375px) {
  .mt-170-375 {
    margin-top: 170px;
  }

  .mt-100-375 {
    margin-top: 100px;
  }

  .mt-55 {
    margin-top: 0;
  }

  .mt-30-768 {
    margin-top: 20px;
  }

  .mr-12-375 {
    margin-right: 12px;
  }

  .ml-77-425 {
    margin-left: 52px;
  }

  .ml-21 {
    margin-left: 0;
  }

  .ml--37 {
    margin-left: 52px;
  }

  .ml--52 {
    margin-left: -32px;
  }

  .ml--875 {
    margin-left: -875px;
  }

  .vertical-align-20 {
    vertical-align: 8px;
  }

  .flex-direction-column-375 {
    display: flex;
    flex-direction: column;
  }

  .flex {
    display: flex;
  }
  .flex.flex-wrap {
    flex-wrap: wrap;
    width: 375px;
  }
  .flex.justify-content-around-1024 {
    justify-content: flex-start;
  }
  .flex.flex-grow-max-570-284 {
    max-width: 335px;
    flex-grow: 0;
  }

  .container-track {
    width: 27.71%;
    height: 50px;
    min-width: 335px;
    flex-shrink: 1;
  }

  .artist-image {
    width: 157.5px;
    height: 157.5px;
  }

  section .font-size-16px {
    font-size: 12px;
    line-height: 14.25px;
  }
  section .font-size-20px {
    font-size: 16px;
    line-height: 19px;
  }

  .position-absolute {
    position: absolute;
  }
  .position-absolute.top-280 {
    top: 47.58%;
  }
  .position-absolute.top-361 {
    top: 41.8%;
  }
  .position-absolute.top-418 {
    top: 64.77%;
  }
}
@media (max-width: 320px) {
  .position-relative {
    position: relative;
  }
  .position-relative.left--260 {
    left: 10px;
    top: -35px;
  }

  .flex {
    display: flex;
  }
  .flex.flex-wrap {
    width: 320px;
    flex-wrap: wrap;
  }
  .flex.flex-grow-max-570-284 {
    max-width: 280px;
    flex-grow: 0;
  }

  .ml--52 {
    margin-left: -32px;
  }

  .mb--16 {
    margin-bottom: -16px;
  }

  .artist-image {
    width: 130px;
    height: 130px;
  }

  section .font-size-16px {
    font-size: 12px;
    line-height: 14.25px;
  }
  section .font-size-20px {
    font-size: 16px;
    line-height: 19px;
  }

  .artist-banner {
    background: no-repeat top 0 left -1200px url("../images/Morten%20Harket.png");
    position: absolute;
    top: 0;
    left: 0;
    height: 550px;
    flex: 0 1 1920px;
    box-sizing: border-box;
  }

  .container-track {
    width: 27.71%;
    height: 50px;
    max-width: 532px;
    min-width: 280px;
    flex-shrink: 1;
  }
}

/*# sourceMappingURL=style.css.map */
